* {

  margin: 0;
  padding: 0;

}

.tabela {

  margin: 10px;
  padding: 10px;
  border: 5px solid burlywood;
  width: 750px;
  

}

.tabela div th {

  padding: 0px 5px;

}

.botoes button {

  margin: 10px;
  padding: 5px 10px;

}

